:root {
    --color1: #a6d6e9;
    --color2: #fbcaec;
    --color3: #000000;
    --color4: #FFFFFF;
    --color5: #e9f393;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color6);
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: var(--color4) !important;
}

.navbar-brand,
.nav-link {
    color: #000 !important;
}

.nav-link.active {
    font-weight: bold;
}

.custom-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 60px 0;
}

#director {
    background-color: var(--color2);
}

#profesores {
    background-color: var(--color4);
}

#estudiantes {
    background-color: var(--color1);
}

#temario {
    background-color: var(--color4);
}

.section-title {
    margin-bottom: 30px;
    color: var(--color3);
}

.card {
    max-width: 280px;
    border-radius: 1rem;
    height: 100%;
    border: 1px solid var(--color3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    background-color: #fff;
}

.card-title {
    color: var(--color3);
}

.card-text {
    color: #1e1e1e;
}

.card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Animacion de las tarjetas */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    background-color: var(--color5);
    color: #000;
    font-style: bold;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .col {
        margin-bottom: 20px;
    }
}